@import "zero-index.scss";

html {
   scroll-behavior: smooth;
}
body {
   position: relative;
}

.wrapper {
   max-width: 1200px;
   width: 90%;
   font-size: 20px;
}

.header {
   padding: 40px 0px 66px;
   position: relative;
   background-image: url(https://kalychka.github.io/AlefDev-demo/assets/images/header_bg.png);
   background-position: 50%;
   background-repeat: no-repeat;
   background-size: cover;
   color: white;

   &:before {
      background-color: rgba(31, 32, 33, 0.79);
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      width: 100%;
      height: 100%;
   }
   &__title {
      position: relative;
      z-index: 2;
      margin-top: 50px;
      font-size: 23px;
   }
   &__content {
      z-index: 2;
      display: grid;
      grid-template-columns: 0fr 3fr 1fr;
      position: relative;
   }
   &__menu {
      display: flex;
      color: white;
      align-items: center;
   }
   & a {
      color: white;
      margin-right: 80px;
   }
   & a:hover {
      color: #6ebbd3;
      border-bottom: 1px solid #6ebbd3;
      transition: 1s;
   }
   &__logo {
      position: relative;
      width: 78px;
      height: 50px;
   }
   &__contacts {
      display: flex;
      flex-direction: column;
   }
}

.main {
   &__catalog {
      display: grid;
      font-size: 22px;
      column-gap: 21px;
      row-gap: 27px;
      padding-top: 38px;
      padding-bottom: 68px;
      grid-template-columns: repeat(auto-fill, minmax(366px, 3fr));
   }
   &__container {
      display: inline-block;
      overflow: hidden;
      border-radius: 0 0 15px 15px;
      background-color: #f3f3f3;
      flex-direction: column;
      position: relative;
   }
   &__info-cat {
      display: flex;
      margin: 1em 0;
      border-left: 5px solid #6ebbd3;
      padding: 0.1em;
      font-size: 18px;
   }
   &__btn-sell {
      width: 100%;
      text-align: center;
      color: white;
      font-size: 22px;
      background-color: black;
      padding: 1em;
      border-radius: 0 0 15px 15px;
      transition: 1s;
      display: block;
   }
   &__btn-buy {
      width: 100%;
      text-align: center;
      color: white;
      font-size: 22px;
      background-color: #6ebbd3;
      padding: 1em;
      border-radius: 0 0 15px 15px;
      transition: 1s;
      display: block;
   }
   &__btn-buy:hover {
      cursor: pointer;
      transform: scale(1.1);
   }
   &__btn-sell:hover {
      cursor: pointer;
      transform: scale(1.1);
   }
   &__img {
      transition: 1s;
      display: block;
   }
   &__img:hover {
      transform: scale(1.1);
   }
   &__discount {
      position: absolute;
      left: 3%;
      top: 3%;
      font-size: 18px;
      background-color: #e62d2d;
      padding: 0.2em;
      color: white;
      border-radius: 10px;
   }
   &__btn-like {
      background: url(https://kalychka.github.io/AlefDev-demo/assets/images/like.png) no-repeat;
      position: absolute;
      right: 3%;
      top: 3%;
      width: 50px;
      height: 50px;
   }
   &__sort {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      margin: 0;
      padding-top: 1em;
   }
   &__add {
      padding: 1em;
      border: 1px solid black;
      border-radius: 15px;
      width: 25%;
      text-align: center;
   }
   &__add:hover {
      cursor: pointer;
      color: white;
      background-color: #6ebbd3;
      transition: 1s;
      border: 1px solid #6ebbd3;
   }
   &__item-color {
      width: 40%;
   }
   &__price:hover {
      color: #6ebbd3;
      transition: 1s;
      cursor: default;
   }
   &__age:hover {
      color: #6ebbd3;
      transition: 1s;
      cursor: default;
   }
}

.footer {
   display: grid;
   grid-template-columns: 1fr 2fr;
   margin-top: 83px;
   background-color: #1f2021;
   padding: 83px 80px 92px;
   color: #fff;

   h2 {
      font-size: 33px;
      font-weight: 700;
      line-height: 58px;
      margin-top: 0;
      margin-bottom: 26px;
   }
   p {
      font-size: 20px;
      line-height: 25px;
   }
   &__form {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__field {
      width: 300px;
      height: 65px;
      background: #fff;
      border-radius: 10px;
      padding-left: 33px;
      margin-right: 16px;
   }
   &__button {
      width: 250px;
      height: 60px;
      background: #6ebbd3;
      border-radius: 10px;
      color: #fff;
      font-weight: 700;
      transition: 1s;
   }
   &__button:hover {
      cursor: pointer;
      transform: scale(1.1, 1.1);
   }
   &__subscribe {
      margin-top: 24px;
   }
}

.rotate--logo {
   position: absolute;
   left: 15px;
   transform: rotate(180deg);
}

.scroll {
   position: relative;
   width: 59px;
   height: 59px;
   background-color: #6ebbd3;
   position: fixed;
   bottom: 20px;
   right: 20px;
   cursor: pointer;
   transition: 1s;
   transform: translateY(-50%);

   &-up {
      color: white;
      position: absolute;
      top: 17px;
      left: 18px;
      font-size: 40px;
   }
   &-up:hover {
      transition: 1s;
      transform: scale(1.5);
   }
}

.like {
   position: fixed;
   right: 10px;
   width: 200px;
   top: 20px;
   z-index: 99;
   &__container {
      position: relative;
   }
   &__show-message {
      padding: 0.7em;
      background-color: #6ebbd3;
      right: 0px;

      color: white;
      margin: 0.7em;
      border-radius: 10px;
   }

   &__close-message {
      position: absolute;
      right: -100%;
      top: 20%;
      transition: 0.5s;
   }
}

.switch {
   position: relative;
   display: inline-block;
   width: 60px;
   height: 34px;
}

.popup {
   background: rgba(0, 0, 0, 0.8);
   position: fixed;
   opacity: 0;
   visibility: hidden;
   transition: 0.5s;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: 111;
   &__area {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
   }

   &__body {
      display: flex;
      min-height: 100%;
      align-items: center;
      justify-content: center;
   }
   &__content {
      background-color: white;
      position: relative;
      max-width: 700px;
      padding: 3em;
      font-size: 30px;
      text-align: center;
      border-radius: 20px;
   }
   &__close {
      position: absolute;
      top: 10px;
      display: flex;
      right: 10px;
      cursor: pointer;
   }
   &__open {
      opacity: 1;
      visibility: visible;
   }
}

.burger {
   position: absolute;
   left: -100%;
   width: 400px;
   background-color: black;
   opacity: 0.8;
   z-index: 88;
   &__menu {
      display: flex;
      flex-direction: column;
      color: white;
      align-items: center;
      justify-content: space-between;
      font-size: 30px;
   }
   &__container {
      position: relative;
      width: 100%;
   }
   &__btn-close {
      position: absolute;
      right: 20px;
      font-size: 40px;
      color: blanchedalmond;
      top: 5px;
   }
   &__show {
      left: 0%;
      transition: 1s;
   }
   &__close {
      left: -100%;
      transition: 1s;
   }
   a {
      padding: 1em;
      opacity: 1;
      color: blanchedalmond;
   }
}
.btn-burger {
   display: none;
   width: 30px;
   height: 30px;
   background-color: white;
   border-radius: 50%;
   position: relative;
   &__defolt,
   &__defolt::before,
   &__defolt::after {
      position: absolute;
      top: 50%;
      width: 15px;
      height: 2px;
      left: 50%;
      margin-top: -1px;
      margin-left: -8px;
      background-color: black;
   }
   &__defolt::before,
   &__defolt::after {
      content: "";
      transition: 0.4s;
   }
   &__defolt::before {
      content: "";
      transform: translateY(-5px);
   }
   &__defolt::after {
      transform: translateY(5px);
   }
   &__active:before {
      transform: rotate(-45deg);
      transform-origin: left bottom;
      width: 10px;
   }
   &__active:after {
      transform: rotate(45deg);
      transform-origin: left top;
      width: 10px;
   }
}

@media screen and (max-width: 1030px) {
   .footer {
      display: block;
   }
   .btn-burger {
      display: block;
   }
   .header__menu {
      display: none;
   }
}

@media screen and (max-width: 1130px) {
   .footer__field {
      margin-bottom: 1em;
      width: 250px;
   }
}

@media screen and (max-width: 450px) {
   .btn-burger__active:before {
      transform-origin: center top;
      width: 15px;
   }
   .btn-burger__active:after {
      transform-origin: center top;
      width: 15px;
   }
   .btn-burger__active {
      height: 0px;
   }
}
